AIM/AIM/AIM.Web.Admin/Service References/JobServiceReference/JobService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AIM.Service.Entities.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AIM.Service.Entities.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="QuestionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MultipleChoice" />
      <xs:enumeration value="AllThatApply" />
      <xs:enumeration value="FreeForm" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QuestionType" nillable="true" type="tns:QuestionType" />
  <xs:simpleType name="StateAbbreviation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AL" />
      <xs:enumeration value="AK" />
      <xs:enumeration value="AZ" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="CT" />
      <xs:enumeration value="DE" />
      <xs:enumeration value="FL" />
      <xs:enumeration value="GA" />
      <xs:enumeration value="HI" />
      <xs:enumeration value="ID" />
      <xs:enumeration value="IL" />
      <xs:enumeration value="IN" />
      <xs:enumeration value="IA" />
      <xs:enumeration value="KS" />
      <xs:enumeration value="KY" />
      <xs:enumeration value="LA" />
      <xs:enumeration value="ME" />
      <xs:enumeration value="MD" />
      <xs:enumeration value="MA" />
      <xs:enumeration value="MI" />
      <xs:enumeration value="MN" />
      <xs:enumeration value="MS" />
      <xs:enumeration value="MO" />
      <xs:enumeration value="MT" />
      <xs:enumeration value="NE" />
      <xs:enumeration value="NV" />
      <xs:enumeration value="NH" />
      <xs:enumeration value="NJ" />
      <xs:enumeration value="NM" />
      <xs:enumeration value="NY" />
      <xs:enumeration value="NC" />
      <xs:enumeration value="ND" />
      <xs:enumeration value="OH" />
      <xs:enumeration value="OK" />
      <xs:enumeration value="OR" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="RI" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="SD" />
      <xs:enumeration value="TN" />
      <xs:enumeration value="TX" />
      <xs:enumeration value="UT" />
      <xs:enumeration value="VT" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="WA" />
      <xs:enumeration value="WV" />
      <xs:enumeration value="WI" />
      <xs:enumeration value="WY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StateAbbreviation" nillable="true" type="tns:StateAbbreviation" />
  <xs:simpleType name="EmployeePermissions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Employee" />
      <xs:enumeration value="HiringManager" />
      <xs:enumeration value="HiringSpecialist" />
      <xs:enumeration value="StaffingExpert" />
      <xs:enumeration value="StoreManager" />
      <xs:enumeration value="SystemAdmin" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EmployeePermissions" nillable="true" type="tns:EmployeePermissions" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InitalApplicationNonSubmitted" />
      <xs:enumeration value="PhoneInterviewQueue" />
      <xs:enumeration value="InPersonInterviewQueue" />
      <xs:enumeration value="CheckReferenceQueue" />
      <xs:enumeration value="Rejected" />
      <xs:enumeration value="PendingReviewQueue" />
      <xs:enumeration value="HiredStatus" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>