AIM.Application/AIM.Web.Application/Service References/JobServiceReference/JobService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:trackable-entities:service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:trackable-entities:service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:trackable-entities:service/Imports">
      <xsd:import schemaLocation="http://localhost:7622/JobService.svc?xsd=xsd0" namespace="urn:trackable-entities:service" />
      <xsd:import schemaLocation="http://localhost:7622/JobService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7622/JobService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" />
      <xsd:import schemaLocation="http://localhost:7622/JobService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:7622/JobService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TrackableEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobService_GetJobsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsList" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetJobsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsListResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetOpenJobsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenJobsList" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetOpenJobsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenJobsListResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetJob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJob" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetOpenJob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenJob" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetOpenJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_UpdateJob_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJob" />
  </wsdl:message>
  <wsdl:message name="IJobService_UpdateJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_CreateJob_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateJob" />
  </wsdl:message>
  <wsdl:message name="IJobService_CreateJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_DeleteJob_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJob" />
  </wsdl:message>
  <wsdl:message name="IJobService_DeleteJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetRegionList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionList" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetRegionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionListResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetRegionName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionName" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetRegionName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobService">
    <wsdl:operation name="GetJobsList">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IJobService/GetJobsList" message="tns:IJobService_GetJobsList_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IJobService/GetJobsListResponse" message="tns:IJobService_GetJobsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpenJobsList">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IJobService/GetOpenJobsList" message="tns:IJobService_GetOpenJobsList_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IJobService/GetOpenJobsListResponse" message="tns:IJobService_GetOpenJobsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJob">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IJobService/GetJob" message="tns:IJobService_GetJob_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IJobService/GetJobResponse" message="tns:IJobService_GetJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpenJob">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IJobService/GetOpenJob" message="tns:IJobService_GetOpenJob_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IJobService/GetOpenJobResponse" message="tns:IJobService_GetOpenJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJob">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IJobService/UpdateJob" message="tns:IJobService_UpdateJob_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IJobService/UpdateJobResponse" message="tns:IJobService_UpdateJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateJob">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IJobService/CreateJob" message="tns:IJobService_CreateJob_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IJobService/CreateJobResponse" message="tns:IJobService_CreateJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJob">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IJobService/DeleteJob" message="tns:IJobService_DeleteJob_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IJobService/DeleteJobResponse" message="tns:IJobService_DeleteJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegionList">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IJobService/GetRegionList" message="tns:IJobService_GetRegionList_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IJobService/GetRegionListResponse" message="tns:IJobService_GetRegionList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegionName">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IJobService/GetRegionName" message="tns:IJobService_GetRegionName_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IJobService/GetRegionNameResponse" message="tns:IJobService_GetRegionName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>