AIM.Application/AIM.Web.Application/Service References/ApplicationServiceReference/ApplicationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:trackable-entities:service" elementFormDefault="qualified" targetNamespace="urn:trackable-entities:service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7622/ApplicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" />
  <xs:element name="GetApplicantsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicantsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="GetApplicantsListResult" nillable="true" type="q1:ArrayOfApplicant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="GetApplicantResult" nillable="true" type="q2:Applicant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplicant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="entity" nillable="true" type="q3:Applicant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplicantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="UpdateApplicantResult" nillable="true" type="q4:Applicant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateApplicant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="entity" nillable="true" type="q5:Applicant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateApplicantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="CreateApplicantResult" nillable="true" type="q6:Applicant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteApplicantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>