AIM/AIM/AIM.Web.Admin/Service References/QuestionServiceReference/QuestionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:trackable-entities:service" elementFormDefault="qualified" targetNamespace="urn:trackable-entities:service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12380/QuestionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" />
  <xs:element name="GetQuestionsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="GetQuestionsListResult" nillable="true" type="q1:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="GetQuestionResult" nillable="true" type="q2:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="entity" nillable="true" type="q3:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="UpdateQuestionResult" nillable="true" type="q4:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="entity" nillable="true" type="q5:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="CreateQuestionResult" nillable="true" type="q6:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionnairesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionnairesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="GetQuestionnairesListResult" nillable="true" type="q7:ArrayOfQuestionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionnaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="GetQuestionnaireResult" nillable="true" type="q8:Questionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="entity" nillable="true" type="q9:Questionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestionnaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="UpdateQuestionnaireResult" nillable="true" type="q10:Questionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuestionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="entity" nillable="true" type="q11:Questionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuestionnaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" minOccurs="0" name="CreateQuestionnaireResult" nillable="true" type="q12:Questionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestionnaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteQuestionnaireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>