AIM/AIM/AIM.Web.Admin/Service References/QuestionServiceReference/QuestionService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:trackable-entities:service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:trackable-entities:service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:trackable-entities:service/Imports">
      <xsd:import schemaLocation="http://localhost:12380/QuestionService.svc?xsd=xsd0" namespace="urn:trackable-entities:service" />
      <xsd:import schemaLocation="http://localhost:12380/QuestionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12380/QuestionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrackableEntities.Models" />
      <xsd:import schemaLocation="http://localhost:12380/QuestionService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:12380/QuestionService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TrackableEntities" />
      <xsd:import schemaLocation="http://localhost:12380/QuestionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AIM.Service.Entities.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuestionService_GetQuestionsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsList" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_UpdateQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_UpdateQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_CreateQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_CreateQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_DeleteQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_DeleteQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionnairesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionnairesList" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionnairesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionnairesListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionnaire_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionnaire" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionnaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionnaireResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_UpdateQuestionnaire_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestionnaire" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_UpdateQuestionnaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestionnaireResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_CreateQuestionnaire_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuestionnaire" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_CreateQuestionnaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuestionnaireResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_DeleteQuestionnaire_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuestionnaire" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_DeleteQuestionnaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuestionnaireResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuestionService">
    <wsdl:operation name="GetQuestionsList">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IQuestionService/GetQuestionsList" message="tns:IQuestionService_GetQuestionsList_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IQuestionService/GetQuestionsListResponse" message="tns:IQuestionService_GetQuestionsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IQuestionService/GetQuestion" message="tns:IQuestionService_GetQuestion_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IQuestionService/GetQuestionResponse" message="tns:IQuestionService_GetQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IQuestionService/UpdateQuestion" message="tns:IQuestionService_UpdateQuestion_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IQuestionService/UpdateQuestionResponse" message="tns:IQuestionService_UpdateQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateQuestion">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IQuestionService/CreateQuestion" message="tns:IQuestionService_CreateQuestion_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IQuestionService/CreateQuestionResponse" message="tns:IQuestionService_CreateQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQuestion">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IQuestionService/DeleteQuestion" message="tns:IQuestionService_DeleteQuestion_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IQuestionService/DeleteQuestionResponse" message="tns:IQuestionService_DeleteQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionnairesList">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IQuestionService/GetQuestionnairesList" message="tns:IQuestionService_GetQuestionnairesList_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IQuestionService/GetQuestionnairesListResponse" message="tns:IQuestionService_GetQuestionnairesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionnaire">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IQuestionService/GetQuestionnaire" message="tns:IQuestionService_GetQuestionnaire_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IQuestionService/GetQuestionnaireResponse" message="tns:IQuestionService_GetQuestionnaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestionnaire">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IQuestionService/UpdateQuestionnaire" message="tns:IQuestionService_UpdateQuestionnaire_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IQuestionService/UpdateQuestionnaireResponse" message="tns:IQuestionService_UpdateQuestionnaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateQuestionnaire">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IQuestionService/CreateQuestionnaire" message="tns:IQuestionService_CreateQuestionnaire_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IQuestionService/CreateQuestionnaireResponse" message="tns:IQuestionService_CreateQuestionnaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQuestionnaire">
      <wsdl:input wsaw:Action="urn:trackable-entities:service/IQuestionService/DeleteQuestionnaire" message="tns:IQuestionService_DeleteQuestionnaire_InputMessage" />
      <wsdl:output wsaw:Action="urn:trackable-entities:service/IQuestionService/DeleteQuestionnaireResponse" message="tns:IQuestionService_DeleteQuestionnaire_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>